*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid red;
    display: grid;
    grid-template-columns:auto auto auto auto;
}

.box{
    border: 2px solid hotpink;
    background-color: antiquewhite;
    padding: 30px;
}